# FastAPI and web server
fastapi
uvicorn
python-dotenv
starlette
pydantic

# LangChain and related packages
langchain>=0.2.14
langchain-openai>=0.1.22
langchain-anthropic>=0.1.23
langchain-fireworks>=0.1.7
langchain-community>=0.2.17
langchain-core
langgraph>=0.2.6

# External API clients
google-generativeai
openai
anthropic
fireworks-ai
groq
tavily-python>=0.4.0

# Utilities
tenacity